#main-nav li a:hover, #main-nav li a:focus, #main-nav li ul li a:hover {
	color: #f29cac;
}
#main-nav li ul {
	background: #d43755;
}
#main-nav li ul:before,
#main-nav li ul:after {
	border-bottom: 8px solid #d43755;
}
#main-nav li ul li {
	background: url(../images/pink/post-meta-seperator.png) top repeat-x;
}
blockquote, .widget_twitter .widget-title {
	border-color:#d43755;
}
.footer.entry-meta:before, footer.entry-meta:after {
	border-left: 8px solid #d43755;
}
.widget .box-link::after, .portfolio-meta .box-link::after {
	border-top: 8px solid #d43755;
}
a, #colophon a, #site-title a:hover, .entry-title a:hover, .widget a:hover, .widget_twitter .widget-title, .widget_twitter li a, .widget_list_portfolio a:hover, .portfolio-meta span {
	color:#d43755;
}
footer.entry-meta, .widget .box-link, #respond input#submit, #contact input#submit, .dropcap, a.button, #content nav a, .portfolio-meta .box-link {
	background:#d43755;
}
.widget_twitter ul#twitter_update_list li {
	background:url(../images/pink/icon-twitter-bird.png) no-repeat left 12px;
}
ul.arrow-list li {
	background:url(../images/pink/arrow-list.png) 0 10px no-repeat;
}
footer.entry-meta .leave-reply a, .share a {
	background:url(../images/pink/post-meta-seperator.png) repeat-x;
}
.control-nav .previous, .flex-direction-nav li .prev, .control-nav .previous, .control-nav a[rel="prev"] {
	background:url(../images/pink/control-nav.png) 0 -41px no-repeat;
}
.control-nav .previous-entry {
	background:url(../images/pink/control-nav.png) 0 0 no-repeat;
}
.control-nav .next-entry {
	background:url(../images/pink/control-nav.png) -50px 0 no-repeat;
}
.control-nav .next, .flex-direction-nav li .next, .control-nav .next, .control-nav a[rel="next"] {
	background:url(../images/pink/control-nav.png) -50px -41px no-repeat;
}
.flex-control-nav li a {
	background:url(../images/pink/slide-control-nav.png) no-repeat 0 0;
}
.portfolio-meta .categories span {
	background:url(../images/pink/icon-folder.png) no-repeat bottom;
}
#content nav a:hover, .widget_twitter .box-link a:hover, .portfolio-meta .box-link a:hover, 
#respond input#submit:active,
#contact input#submit:active,
#respond input#submit:hover,
#contact input#submit:hover,
.client-name,
a.button:hover,
#colophon a.button:hover {
	color:#f29cac;
}
.portfolio-meta ul {
	border-top:3px #d43755 solid;
}
.portfolio-list-one .post-info a.view-project-1 {
	background:url(../images/icon-magnify.png) #d43755 20px 7px no-repeat	
}